{% include "base.html" %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static "css/gallery.css" %}">{% endblock css %}

{% block content %}
<div class="awesome-portfolio-area fix">
    <div class="container">
        <!-- section-heading start -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>CHECK OUR AWESOME <strong>PORTFOLIO</strong></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio id nibh ultrices blandit. Maecenas tincidunt, est sit amet pretium hendrerit, felis nibh bibendum arcu, nec tincidunt leo lorem ut lorem. Sed facilisis interdum faucibus. Cras tellus
                        leo, venenatis nec tortor in, porta maximus tellus. Etiam eget libero vestibulum</p>
                </div>
            </div>
        </div>
        <!-- section-heading end -->
    </div>
    <!-- awesome-portfolio start -->
    <div class="container awesome-portfolio">
        <div class="awesome-portfolio-menu">
            <ul>
                <li class="filter active" data-filter="all">All Items</li>
                <li class="filter" data-filter=".design">Design</li>
                <li class="filter" data-filter=".flat">Flat Design</li>
                <li class="filter" data-filter=".illustration">illustration</li>
                <li class="filter" data-filter=".branding">Branding</li>
            </ul>
        </div>
        <div class="awesome-portfolio-content" id="MixItUp68DC04">
            <!-- single-awesome-portfolio start -->
            <div class="single-awesome-portfolio mix all flat illustration" style="display: inline-block;">
                <a href="#">
                    <div class="awesome-img"><img src="https://www.bootdey.com/image/400x300/FF0000/000000" alt=""></div>
                    <div class="awesome-info">
                        <h3>Portfolio Name</h3>
                        <p>Design</p>
                    </div>
                </a>
            </div>
            <!-- single-awesome-portfolio end -->
            <!-- single-awesome-portfolio start -->
            <div class="single-awesome-portfolio mix all design branding" style="display: inline-block;">
                <a href="#">
                    <div class="awesome-img"><img src="https://www.bootdey.com/image/400x300/1E90FF/000000" alt=""></div>
                    <div class="awesome-info">
                        <h3>Portfolio Name</h3>
                        <p>Design</p>
                    </div>
                </a>
            </div>
            <!-- single-awesome-portfolio end -->
            <!-- single-awesome-portfolio start -->
            <div class="single-awesome-portfolio mix all flat illustration" style="display: inline-block;">
                <a href="#">
                    <div class="awesome-img"><img src="https://www.bootdey.com/image/400x300/" alt=""></div>
                    <div class="awesome-info">
                        <h3>Portfolio Name</h3>
                        <p>Design</p>
                    </div>
                </a>
            </div>
            <!-- single-awesome-portfolio end -->
            <!-- single-awesome-portfolio start -->
            <div class="single-awesome-portfolio mix all design branding" style="display: inline-block;">
                <a href="#">
                    <div class="awesome-img"><img src="https://www.bootdey.com/image/400x300/FF8C00/000000" alt=""></div>
                    <div class="awesome-info">
                        <h3>Portfolio Name</h3>
                        <p>Design</p>
                    </div>
                </a>
            </div>
            <!-- single-awesome-portfolio end -->
            <!-- single-awesome-portfolio start -->
            <div class="single-awesome-portfolio mix all flat design illustration" style="display: inline-block;">
                <a href="#">
                    <div class="awesome-img"><img src="https://www.bootdey.com/image/400x300/9932CC/000000" alt=""></div>
                    <div class="awesome-info">
                        <h3>Portfolio Name</h3>
                        <p>Design</p>
                    </div>
                </a>
            </div>
            <!-- single-awesome-portfolio end -->
            <!-- single-awesome-portfolio start -->
            <div class="single-awesome-portfolio mix all design branding " style="display: inline-block;">
                <a href="#">
                    <div class="awesome-img"><img src="https://www.bootdey.com/image/400x300/008B8B/000000" alt=""></div>
                    <div class="awesome-info">
                        <h3>Portfolio Name</h3>
                        <p>Design</p>
                    </div>
                </a>
            </div>
            <!-- single-awesome-portfolio end -->
            <!-- single-awesome-portfolio start -->
            <div class="single-awesome-portfolio mix all design illustration" style="display: inline-block;">
                <a href="#">
                    <div class="awesome-img"><img src="https://www.bootdey.com/image/400x300/" alt=""></div>
                    <div class="awesome-info">
                        <h3>Portfolio Name</h3>
                        <p>Design</p>
                    </div>
                </a>
            </div>
            <!-- single-awesome-portfolio end -->
            <!-- single-awesome-portfolio start -->
            <div class="single-awesome-portfolio mix all flat illustration branding" style="display: inline-block;">
                <a href="#">
                    <div class="awesome-img"><img src="https://www.bootdey.com/image/400x300/6495ED/000000" alt=""></div>
                    <div class="awesome-info">
                        <h3>Portfolio Name</h3>
                        <p>Design</p>
                    </div>
                </a>
            </div>
            <!-- single-awesome-portfolio end -->
            <!-- single-awesome-portfolio start -->
            <div class="single-awesome-portfolio mix all design branding" style="display: inline-block;">
                <a href="#">
                    <div class="awesome-img"><img src="https://www.bootdey.com/image/400x300/FF69B4/000000" alt=""></div>
                    <div class="awesome-info">
                        <h3>Portfolio Name</h3>
                        <p>Design</p>
                    </div>
                </a>
            </div>
            <!-- single-awesome-portfolio end -->
            <!-- single-awesome-portfolio start -->
            <div class="single-awesome-portfolio mix all flat illustration" style="display: inline-block;">
                <a href="#">
                    <div class="awesome-img"><img src="https://www.bootdey.com/image/400x300/7B68EE/000000" alt=""></div>
                    <div class="awesome-info">
                        <h3>Portfolio Name</h3>
                        <p>Design</p>
                    </div>
                </a>
            </div>
            <!-- single-awesome-portfolio end -->
        </div>
    </div>
    <!-- awesome-portfolio end -->
</div>
<script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>


<script>
    $(function(){
    $('.awesome-portfolio-content').mixItUp({
   animation: {
       effects: 'rotateZ',
	   duration: 1000,
		}
	});
	
   $('.blog-column-content').mixItUp({
   animation: {
	   effects: 'scale',
	   duration: 1000,
		}
	});	
	
   $('.portfolio-column-content').mixItUp({
   animation: {
	   effects: 'fade rotateY(-180deg)',
	   duration: 1000,
		}
	});
});	
	 
</script>

{% endblock content %}