{% include "base.html" %}
{% load static %}
{% load humanize %}



{% block css %} <link rel="stylesheet" href="{% static 'css/chat.css' %}"> 
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />                        
{% endblock css %}


{% block content %}


<style>
    .chat-history {
        height: 500px; 
        overflow-y: scroll; 
    }
</style>

<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            {% include "chat/contact-list.html" %}

            <!--Chat-->
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img src="{{recipient.image.url}}" alt="avatar">
                            </a>
                            <div class="chat-about">
                                <a href="{% url "users:another-user" recipient.id%}" target="__blank">
                                <h6 class="m-b-0">{{recipient.full_name}}</h6></a>
                                <small class="fa fa-circle {% if recipient.check_activity %} online {%else%} offline {%endif%}" > {% if recipient.check_activity %} Online {% else %} Left {{recipient.last_activity|naturaltime}} {% endif %}</small>
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-right">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                        </div>
                    </div>
                </div>
            
                <div class="chat-history">
                    <ul class="m-b-0">
                        {% for message in messages %}
                        <li class="clearfix">
                            {% if message.sender != user %}
                            <div  class="message-data text-right">
                                <span class="message-data-time">{{message.timestamp}}</span>
                                <img src="{{message.sender.image.url}}" alt="avatar">
                            </div>
                            {% endif %}
                            <div {% if message.sender == user %} class="message other-message float-right"  {% else %} class="message my-message" {% endif %} > {{message.message}}</div>
                        </li>
                        {% endfor %} 

        
                          
                    </ul>
                </div>


               {% include "chat/form-message.html" %}
            </div>
        </div>
    </div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function scrollChatToBottom() {
        var chatHistory = $(".chat-history");
        chatHistory.scrollTop(chatHistory[0].scrollHeight);
    }

    $(document).ready(function() {
        // Вызывайте эту функцию после отправки нового сообщения
        scrollChatToBottom();
    });
</script>
{% endblock content %}