<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Accept a payment</title>
    <meta name="description" content="A demo of a payment on Stripe" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static "css/checkout.css" %}"/>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="checkout.js" defer></script>
  </head>
  <body>

    <div id="payment-message">

       <p>Operation was wrong</p>
       <p> Click button to go to the site</p>
       <a href="{% url "books:index" %}"><button class='spinner :before'>Go to the site</button></a>
       
    </div>

   
 
  </body>
</html>