{% include "base.html" %}

{% load static %}

{% block css %}  <link rel="stylesheet" href="{%static 'css/choice-plan.css'%}"> {% endblock css %}



{% block content %}
<div class="container">
<div class="row gutters">
	{% for plan in object_list %}
	<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
		<div class="pricing-plan">
			<div class="pricing-header {% if plan.title == 'Bronze Plan'%}  {% elif plan.title == 'Silver Plan' %} secondary {% else %} red {% endif %}">
				<h4 class="pricing-title">{{plan.title}}</h4>
				<div class="pricing-cost">${{plan.price}}</div>
			</div>
			<ul class="pricing-features">
				<li>Allowed books {{plan.allowed_books}}</li>
				<li {% if not plan.send_message %} class="text-muted"{% endif %}>Send email</li>
				<li {% if not plan.title == 'Gold Plan' %} class="text-muted" {% endif %}>24/7 Tech Support</li>
			</ul>
			<div class="pricing-footer">
				<a href="{% url "subscription:period" plan.title %}" class="btn btn-primary btn-lg">Select Plan</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
</div>


{% endblock content %}