{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}


 <br>

        <div class="container bg-white shadow-md p-5 form-layout">

            <h3> Create your account </h3>

            <h5> Purchase your favourite items today! </h5>

            <hr>
            <br>

    <form method="POST" action="{% url "users:profile" %}" enctype="multipath/form-data" autocomplete="off">

                {% csrf_token %}



                {{form.email|as_crispy_field}}

                <br> <br>


                {{form.first_name|as_crispy_field}}

                <br> <br>


                {{form.last_name|as_crispy_field}}


                <br> <br>

                {{form.about|as_crispy_field}}


                <br> <br>


                {{form.image|as_crispy_field}}


                <br> <br>


                
                <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2"> &nbsp; Update profile </button>

                <br> <br>

                <div class="text-center">

                    <a href="{% url "users:login" %}"> Already have an account? </a>

                </div>


            </form>


            

        </div>



    </body>

    <br> <br>



{% endblock content %}