{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}


 <br>

        <div class="container bg-white shadow-md p-5 form-layout">

            <h3> Update your account, {{user.first_name}} </h3>

           

            <hr>
            <br>

    <form method="POST"  action={% url "users:profile" %} enctype="multipart/form-data" autocomplete="off">

                {% csrf_token %}



                {{form.email|as_crispy_field}}



                {{form.first_name|as_crispy_field}}

              

                {{form.last_name|as_crispy_field}}



                
                {{form.image|as_crispy_field}}

            

                {{form.about|as_crispy_field}}
                


                <br> <br>


                {{profile_form.phone_number|as_crispy_field}}
                {{profile_form.country|as_crispy_field}}
                {{profile_form.profession|as_crispy_field}}
                {{profile_form.social_link|as_crispy_field}}
               


                <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2"> &nbsp; Update profile </button>

                <br> <br>

                <div class="text-center">

                    <a href="{% url "users:login" %}"> Dashboard </a>

                </div>


            </form>


            

        </div>



    </body>

    <br> <br>



{% endblock content %}